# Bonus: Temperature Analysis I

In [7]:
import pandas as pd
from datetime import datetime as dt

In [8]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [9]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])

In [10]:
# Set the date column as the DataFrame index
df=df.set_index('date')

In [11]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [18]:
# Drop the date column
x=df.index
x[0]

Timestamp('2010-01-01 00:00:00')

### Compare June and December data across all years

In [13]:
from scipy import stats

In [16]:
june=[]
december=[]
# Filter data for desired months
for row in df:
    if(row.index[5:7])=='06':
        june.append(row['tobs'])
    if(row.index[5:7])=='12':
        december.append(row['tobs'])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis